<div ng-app="SampleApp">
  <input type="text" ng-model="name" placeholder="name">
  <p> Hello, {{name}}! </p>
  <!-- Note here the ng-controller -->
  <div ng-controller="SamplesCtrl">
    <!-- Note here the ng-repeat over the items defined in our SamplesCtrl -->
    <div ng-repeat="sample in fake samples">
      A {{sample.name}} looked {{sample.description}}
    </div>
  </div>
</div>